@font-face {
    font-family: 'Archia';
    font-style: normal;
    font-weight: normal;
    src: local('Archia'), url('../fonts/Archia-Thin.otf') format('truetype');
  }

body
{
  /*  background: url(../img/background.png);/*
    * 
    */
  background: white;
  overflow-x: hidden;
  font-family: Archia;
  padding-top: 70px;
}

header
{
position: absolute;
    width: 100%;
    position: fixed;
    height: 150px;
    z-index: 11;
    background-color: #71c4ca;
    box-shadow: 0 3px 25px #000000a3;
    top: 0;
}

header.sticky
{
/*    background-color: #a71680db;*/
        box-shadow: none;
}

h1{
  font-family: Archia;
}

p{
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus, a:hover
{
    text-decoration: none;
}

.linea_org {
  list-style-type: none;

}

.pantalla
{
  width: 100%;
}

.listado {
  display: inline-block;
  width: 80%;
}

.filtros {
  vertical-align: top;
  display: inline-block;
  width: 15%;
}

.dlinea_organismo {
  width: 100%;
}

.dlinea_nombre{
  display: inline-block;
  width: 85%;
}

.dlinea_cantidad {
  display: inline-block;
  width: 10%;
}