<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if bool_refresh %}
      <meta http-equiv="refresh" content="10" >
    {% endif %}
    <title>{% block title %}Gestionar{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
  </head>
  <body id="body">
    <main>
      {% include "header.html"%}
      <h1>Sistema de Gestion de Acciones Gubernamentales</h1>
      {% block content %}
      
      {% endblock %}

    </main>
    {% include "scripts.html"%}
  </body>
</html>