{% extends 'base.html' %}
{% block content %}
    <div class="pantalla">
        {% include "filtros.html"%}    
        <div class="listado">
            <ul>
                <li class="linea_org">
                    <div class="dlinea_organismo">
                        <b>
                            <div class="dlinea_nombre"><h3><b>Nombre de la Accion</b></h3></div>
                            {% if request.user.is_staff %}
                                <div class="dlinea_cantidad"><h3><b>Comunicaciones</b></h3></div>
                            {% endif %}
                        </b>
                    </div>
                </li>
                {% for i in importancia reversed %}
                    <h3><b>{{i.1}}</b></h3>
                    {% for accion in acciones %}
                        {% if accion.importancia == i.0 %}
                            <li class="linea_org">
                                <div class="dlinea_organismo">
                                    <div class="dlinea_nombre"><a href="/accion/{{ accion.id }}">({{ accion.organismo_ws.nombre }})<b>{{ accion.nombre }}</b></a></div>
                                    {% if request.user.is_staff %}
                                        <div class="dlinea_cantidad">
                                            <div style="color:
                                                {% if accion.comunicaciones.count %}
                                                    green
                                                {% else %}
                                                    red
                                                {% endif %}
                                                ">
                                                <b>{{ accion.comunicaciones.count }}</b>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}