{% extends 'base.html' %}
{% block content %}
    <h1>Bienvenidos al Sitio de Gestion de Comunicacion de acciones Oficiales</h1>
    <h3>Organismos:</h3>
    <div class="pantalla">
        <div class="filtros">
            <p><b>Mostrar por:</b></p>
            <p><a href="/">Organismos</a></p>
            <p><a href="/prio/">Prioridad</a></p>
        </div>    
        <div class="listado">
            <ul>
                <li class="linea_org">
                    <div class="dlinea_organismo">
                        <b>
                            <div class="dlinea_nombre">Nombre del Organismo</div>
                            <div class="dlinea_cantidad">Acciones</div>
                        </b>
                    </div>
                </li>
                {% for organismo in organismos %}
                    <li class="linea_org">
                        <div class="dlinea_organismo">
                            <div class="dlinea_nombre"><a href="/org/{{ organismo.id }}">{{ organismo.nombre }}</a></div>
                            <div class="dlinea_cantidad">{{ organismo.acciones.count }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}