{% extends 'base.html' %}
{% block content %}
    <div class="pantalla">
        {% include "filtros.html"%}  
        <div class="listado">
            <ul>
                <li class="linea_org">
                    <div class="dlinea_organismo">
                        <b>
                            <div class="dlinea_nombre">Nombre del Organismo</div>
                            <div class="dlinea_cantidad">Acciones</div>
                        </b>
                    </div>
                </li>
                {% for organismo in organismos %}
                    <li class="linea_org">
                        <div class="dlinea_organismo">
                            <div class="dlinea_nombre"><a href="/org/{{ organismo.id }}">{{ organismo.nombre }}</a></div>
                            <div class="dlinea_cantidad">{{ organismo.acciones.count }} / {{ organismo.cantidad_comunicados }}</div>
                            
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}