{% extends 'base.html' %}
{% block content %}
    <h1>Bienvenidos al Sitio de Gestion de Comunicacion de acciones Oficiales</h1>
    <h3>Organismo: {{ organismo.nombre }}</h3>
    <h4> Acciones de Gobierno </h4>
    <ul>
        <li class="linea_org">
            <div class="dlinea_organismo">
                <div class="dlinea_nombre">Acciones del Gobierno</div>
                {% if request.user.is_staff %}
                    <div class="dlinea_cantidad">Comunicaciones</div>
                {% endif %}
            </div>
        </li>

        {% for i in importancia %}
            <h2>{{i.1}}</h2>
            {% for accion in acciones %}
                {% if accion.importancia == i.0 %}
                    <li class="linea_org">
                        <div class="dlinea_organismo">
                            <div class="dlinea_nombre"><a href="/accion/{{ accion.id }}">{{ accion.nombre }}</a></div>
                            <div class="dlinea_cantidad">{{ accion.comunicaciones.count }}</div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul> 
{% endblock %}