{% extends 'base.html' %}
{% block content %}
    <h2><b>Organismo:</b> {{ organismo.nombre }}</h2>
    <ul>
        <li class="linea_org">
            <div class="dlinea_organismo">
                <b>
                    <div class="dlinea_nombre"><h3><b>Acciones del Gobierno</b></h3></div>
                    {% if request.user.is_staff %}
                        <div class="dlinea_cantidad"><h3><b>Comunicaciones</b></h3></div>
                    {% endif %}
                </b>
            </div>
        </li>

        {% for i in importancia reversed %}
            <h3>{{i.1}}</h3>
            {% for accion in organismo.get100_acciones %}
                {% if accion.importancia == i.0 %}
                    <li class="linea_org">
                        <div class="dlinea_organismo">
                            <div class="dlinea_nombre">
                                <a href="/accion/{{ accion.id }}" target="_blank"><b>{{ accion.nombre }}</b></a>
                                <a href="/localidad/{{accion.localidad_id.id}}">({{ accion.localidad_id }})</a>
                            </div>
                            <div class="dlinea_cantidad">
                                <div style="color:
                                    {% if accion.comunicaciones.count %}
                                        green
                                    {% else %}
                                        red
                                    {% endif %}
                                    ">
                                    <b>{{ accion.comunicaciones.count }}</b>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul> 
{% endblock %}